.SmartHeaderContainer {
width:80%;
margin:auto;
height:26px;
line-height:26px; 
}

/*başlıktan hemen sonraki kod div'i*/
div.SmartHeaderContainer + div {
    margin-bottom:2%;
}

.pre_baslik {
    padding-left: 2%;
    float: left;
    color: white;
    width: 78%;
    /*    margin:auto;*/
    height: 26px;
    line-height: 26px;
    zbackground: -webkit-linear-gradient(black,black,maroon) fixed; /* For Safari 5.1 to 6.0 */
    zbackground: -o-linear-gradient(black,black,maroon) fixed; /* For Opera 11.1 to 12.0 */
    zbackground: -moz-linear-gradient(black,black,maroon) fixed; /* For Firefox 3.6 to 15 */
    zbackground: linear-gradient(black,black,maroon) fixed; /* Standard syntax */
    background: purple;
    font-family: "Times New Roman", Georgia, Serif;
    /*    text-align:center;*/
}

.CopyContent {
/*	cursor:pointer;*/
	cursor:wait;
    padding-right:1%;
    zborder-left:1% blue solid;
    float:left;
    color:white;
    width:22%;
    margin:auto;
    height:26px;
    line-height:26px; 
    zbackground: -webkit-linear-gradient(black,black,maroon) fixed; /* For Safari 5.1 to 6.0 */
    zbackground: -o-linear-gradient(black,black,maroon) fixed; /* For Opera 11.1 to 12.0 */
    zbackground: -moz-linear-gradient(black,black,maroon) fixed; /* For Firefox 3.6 to 15 */
    zbackground: linear-gradient(black,black,maroon) fixed; /* Standard syntax */
   	background:maroon;
    font-family:"Times New Roman", Georgia, Serif;
    text-align:center;    
	}


.prebasyeni
{
background-color:red !important;
white-space:normal !important;
}

pre.formul
    /*ana pre cssindekiler inherit etmesin*/
    {
    padding:10px;
    white-space:pre-wrap;
    word-wrap:break-word;
    color: white;
    zzbackground: #151110; /* For browsers that do not support gradients */
    zzbackground: -webkit-linear-gradient(left,#68508A, #AD9BC6);
    zzbackground: -o-linear-gradient(right,#68508A, #AD9BC6); 
    zzbackground: -moz-linear-gradient(right,#68508A, #AD9BC6); 
    zzbackground: linear-gradient(to right,#151110, #320305); 
    background-color:#312628;
    width:80%;
    margin:0 auto;    
    font-size:130%;
    border: 1px solid maroon;
    border-radius:5px;
    }


.formulaciklama {
    color:lime;
    font-style:italic;
    font-size:smaller;
} 

.formulrenk1{
    color:#EFB825;
    font-weight:bold;
}   

.formulrenk2{
    color:#6AF0F9;
    font-weight:bold;
}   

.formulrenk3{
    color:#62EF25;
    font-weight:bold;
}   

.formulrenk4{
    color:#6AF9D2;
    font-weight:bold;    
}   

.formulozelisaret{
    color:#FF33CC;
    font-weight:bold;    
}   

p > abbr * {
/*bunu ben ekledim, üzerine geldiğinde açıklama çıkanların sitili için. 
burda kullandığım şey evrensel seçici, bütün abbr tag'i alan yerlerde 
aynı formatı kullanacagımdan class veya id'ye gerek yok
*/
	color:#C00;
	text-decoration:underline;
	font-style:oblique;
	
/*İŞE YARAMADIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII*/
}


.dikkat{
	color:red;
	font-weight:bold;
	text-transform:uppercase;	
}


.keywordler{
background-color:#E8E8E8 ;
color:maroon;
/*color:#6600FF;
font-weight: bold;*/
padding:0px 3px;
border-radius:3px;
}



/*bunu kullanmıyoum artık. higlihetr geldi ama bi şekilde ilerde tek satırları falan buna kaydırabilirim
pre.vb {
    max-height:700px;
    padding-left:3px;
    /*white-space:pre-wrap;
    word-wrap:break-word;/////
    overflow-x: auto;
    overflow-y: auto;
    color:white;
    background-color:white;
    width:80%;
    margin:auto;
    font-size:larger;
    line-height:18px;
}

    pre span.yorum{
    color:#00B02E;
    }

    pre span.mavi{
    color:#00bfff;
    }
*/


