@import url("tablolar.css");
@import url("kod.css");
@import url("mobil.css");

/*!important olanların çoğu bootstrapi ezmek için*/

/*
- duyuru işaretini, udemy ve bas/son düğmleerini(id yerine class mı yapsak? aşağıdakilerde de, özellikle ID değilse class yap)
- sidebare ve menübarın mobil versiyonlarını da yap
- üstmenü yeren stmenü container olarak yapalım
*/
@media only screen and (max-width:700px) {
    #mynav {
        display: none;
    }

    #jqueryresimler {
        display: none;
    }

    #sidebar {
        display: none;
    }

    #duyuruimg {
        display: none;
    }
}

#anamenu {
    display: none; /*tasarım sırasında rahat çalışmak için, jquery ile onload sırasında tekrar açıyorum*/
}


body {
    height: 100%;
    font-size: 1em;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: white;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black,black,maroon) fixed; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black,black,maroon) fixed; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black,black,maroon) fixed; /* For Firefox 3.6 to 15 */
    background: linear-gradient(black,black,maroon) fixed; /* Standard syntax */
}

form {
    color:white;
}

p a {
    text-decoration:underline !important;
}

babacontainer img {
    margin: 5px auto;
    max-width: 100%;
    max-height: 100%;
}
/*#region duyuru_cookie_sessionbilgi*/
.pulse {
    margin: 10px;
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 2s infinite;
}

    .pulse:hover {
        animation: none;
    }

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 30px rgba(204,169,44, 0);
        box-shadow: 0 0 0 30px rgba(204,169,44, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

#duyuruimg {
    top: 10%;
    left: 0;
    position: fixed; /* Fixed/sticky position */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: .25rem; /* Rounded corners */
}

#duyuruilan {
    top: 150px;
    left: 1%;
    position: fixed; /* Fixed/sticky position */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    border-radius: .25rem; /* Rounded corners */
    display: none; /* Hidden by default */
    /*    visibility:hidden;*/
    width: 15%;
    height: auto;
    background-color: #FFCC66;
    color: maroon;
    vertical-align: middle;
    padding: 1%;
}

#ziyaret {
    top: 100px;
    right: 1%;
    width: 12%;
    font-family: "Comic Sans MS";
    position: fixed; /* Fixed/sticky position */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: .25rem; /* Rounded corners */
}

#lblUyemail {
    top: 60px;
    right: 3%;
    width: 12%;
    font-family: "Comic Sans MS";
    font-size: small;
    font-style: italic;
    position: fixed; /* Fixed/sticky position */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: .25rem; /* Rounded corners */
}

/*#endregion*/

/*#region başlıklar*/
h1 {
  font-size:2.2em;
  font-weight:bold;
  padding-top:1%;
}

h2 {
    font-size: 1.6em;
    font-weight: bold;
}

h3 {
	font-size:1.5em;
	font-weight:bold;
}

h4 {
	font-size:1.3em;
}

h5 {
	font-size:1.05em;
}

h6 {
	font-size:0.8em;
}

h1, h2, h3, h4, h5 {
    color: maroon;
}

    h1.baslik, h2.baslik {
        cursor: pointer;
/*        font-size: 130%;*/
        border: solid 1px;
        border-radius: .25rem;
        background-color: #660000;
        padding: 0.5% 1%;
        color: white;
    }

    h4.baslik {
        cursor: pointer;
        color: blue;
	font-size:1em;
    }

        h4.baslik + div {
            display: none; /*h4 altındaki alt örnekler ilk başta gizli gelsin, toggle ypaınca açılsın*/
        }
/*#endregion*/

/*#region ÜSTBÖLGE*/

#imglogo {
    height: auto;
    max-width:100px;
    width: auto;
    max-height: 55px;
    border-width: 0px;
    margin: 0px !important;
}
#mynav {
    background: linear-gradient(maroon,black,maroon) !important;
    max-height: 60px !important;
}

/*#region anamenü*/
/*#anamenu {
    wwwtext-align: center; 
    wwwwidth: 85%;
    fghheight: auto;
    fghmax-height: 60px; 
    dddfloat: left;
    sdfsdposition: relative;
    ddddfont-size: 90%;
}*/

    #anamenu li {
        /*üstmenüdeki linkler için*/
        
        text-decoration: none !important;
        border-radius: .25rem;
        /*height: auto;
    eemax-height: 25%;
    width:auto;
    eemax-width:25%;*/
        margin-right: 1%;
        epadding: 1%;
        font-weight: bold;
        background-color: #800000;
        /*display: inline-block;*/
        vertical-align: middle;
    }

    #anamenu li a:hover {
        font-weight: bold;
        color: #04b;
        border-bottom: 1px solid #f9f9f9;
        background-color: white;
    }

        #anamenu li a {
            font-size: 90%;
            color: white;
        }
/*#endregion ortablok*/

/*#region three_fixed_button*/
#navhome {
    top: 0;
    left: 10%;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 1%; /* Some padding */
    border-radius: .25rem; /* Rounded corners */
    font-size: larger;
}

    #navhome :hover {
        background-color: gray; /* Add a dark-grey background on hover */
    }

#navend {
    top: 0;
    right: 10%;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 1%; /* Some padding */
    border-radius: .25rem; /* Rounded corners */
    font-size: larger;
}

#udemy {
    /*all: initial;
    margin: 0px 0px 0px 0px !important;*/
    top: 0;
    left: 0;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: .25rem; /* Rounded corners */
}

/*#endregion*/
/*#endregion ÜSTBÖLGE*/

/*#region ORTABÖLGE*/
#sidebar {
    zzzposition: fixed; /*19.12de eklendi. sidebar fixed olunca*/
    /*z-index:99;*/
    display:none; /*tasarım sırasında rahat çalışmak için, jquery ile onload sırasında tekrar açıyorum*/
    sspadding-top: 20px; /*19.12de eklendi. üstmenü fixed olunca*/
    /*background-color: #846A3C;*/
    /*position: relative;*/ /*bunu şimdilik islme, denemek içn commentledim, etkisi yok gibi ama belli olmaz*/
    /*clear: both;*/ /*bunu şimdilik islme, denemek içn commentledim, etkisi yok gibi ama belli olmaz*/
    /*display: inline;*/ /*bunu şimdilik islme, denemek içn commentledim, etkisi yok gibi ama belli olmaz*/
}
/*tableın etrafındaki borderın no inherit olsun, class=konuyu inherit ediyor*/
    #sidebar ul {
        list-style-type: none;
        qwerty_width: 100%;
        margin: 0;
        padding: 0;
        font-size: 90%;
    }
        #sidebar ul li {
            padding: 4% 2% 4% 2%;
            margin: 0 !important; /*li elementindeki margini ezmek için*/
            qwerty_width: 94%;
            border-bottom: 1px solid #f9f9f9;
            background: black; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(maroon, black,maroon); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(maroon, black,maroon); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(maroon, black,maroon); /* For Firefox 3.6 to 15 */
            background: linear-gradient(maroon,black,maroon); /* Standard syntax */
        }
    #sidebar ul li a {
        /*burda baslik classı da var, ama bunlar baslik classında değil de burdan şekilleniyor
            bunların basliktan faydalandığı tek kısım jqeuery olmuş oluyor.
        */
	    font-weight: bold;
	    text-decoration: none;
	    color:white;
        display: block;
        margin-bottom:5px;
          font-size:90%;
    }        
    #sidebar ul li tr *{        
	    color:white;
        fgxhftext-indent:10px;
        /*font-size:small;*/
    }   
    #sidebar ul li a:hover{
	    font-weight: bold;
	    /*text-decoration: none;*/
	    color: #04b;
        border-bottom: 1px solid #f9f9f9;
	    background-color: white;
        z-index:99;
    }
        #sidebar ul li table.konu {
            /*sidebardaki ul>li>table'lar, table diyorum çünkü htmle dönüce datalistler table gibi görünür
konular ilk başta gizli gelsin, toggle ypaınca açılsın*/
            display: none;
            border: solid 1px maroon;
            border-radius: .25rem;
            padding: 5px;
        }

div#ortablok_anacontent {
    /*ffixed menü altında kalmasın diye*/
    padding-top: 60px;
}

/*div.konu > h4 {
    font-size:1em !important;
}
*/
/*#endregion*/

#KeepAliveFrame {
    display:none;
}

div.syntaxhighlighter {
    margin-bottom:5px; /*çalışmıyor*/
}

/*#region FOOTER*/
#ortablok_footer {
    clear: both;
    width: 100%;
    background-color: maroon;
    background: linear-gradient(black,maroon,black);
    padding: 0;
    margin-top: 0px;
    margin-right: 0px !important; /*row classından geleni ezmek için*/
    margin-left: 0px !important; /*row classından geleni ezmek için*/
    height: auto;
    max-height: 40px;
    line-height: 40px;
}

    #ortablok_footer #copyright {
        font-size: 90%;
        text-align: left;
        margin: 0px;
        float: left;
        /*padding: 1%;*/
    }

    #ortablok_footer #lblOnlineUser {
        text-align: right;
        float: none;
    }

    div.konu {
        padding-left:1%;
    }
       
/*#endregion */

/*#region ADMIN*/
#content_admin {
    /*burasını bi ara bi sttekini inherit ederek yap sadece genişliği ve background yeni yaz*/
    float: left;
    /*width: 90%;*/
    padding: 5px;
    overflow: auto;
    /*background-color: #fff;*/
    background-color: white;
    margin: 0px;
    position: relative;
    color: blue;
}

#altkonusag input {
    display: block; /*textboxları yanyana değil de altalta dizemek içn   */
    /*width:90%;*/
    height: 200px;
}

.editinserttestsoru * {
    color: red;
    width: 100%;
}

div.admingiris > td {
    width: 10px;
}
/*#endregion*/

/*#region testimonial_rating*/
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

    .rate:not(:checked) > input {
        position: absolute;
        top: -9999px;
    }

    .rate:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    }

        .rate:not(:checked) > label:before {
            content: '★ ';
        }

    .rate > input:checked ~ label {
        color: #ffc700;
    }

    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
    }

    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }

.gridTestimony {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 90%;
    margin: auto;
}

.gridview a {
    margin: auto 1%;
    border-radius: 50%;
    background-color: #444;
    padding: 5px 10px 5px 10px;
    color: yellow;
    text-decoration: none;
    -o-box-shadow: 1px 1px 1px #111;
    -moz-box-shadow: 1px 1px 1px #111;
    -webkit-box-shadow: 1px 1px 1px #111;
    box-shadow: 1px 1px 1px #111;
}

    .gridview a:hover {
        background-color: #1e8d12;
        color: blue;
    }

.gridview span {
    background-color: #ae2676;
    color: black;
    -o-box-shadow: 1px 1px 1px #111;
    -moz-box-shadow: 1px 1px 1px #111;
    -webkit-box-shadow: 1px 1px 1px #111;
    box-shadow: 1px 1px 1px #111;
    border-radius: 50%;
    padding: 5px 10px 5px 10px;
}

.ratingimg {
    align-content: center;
    /*align:left;*/
    /*float:left;*/
}

.grid_to_table {
    color: black;
}

#newcomm {
    font-size: large;
    background: maroon;
    border-radius: .25rem;
    color: white;
    padding: 1%;
}

#newComment span:hover {
    cursor: pointer;
}

#newComment + div {
    /*yeni yorum kutusu başta gizli gelsin*/
    display: none;
}
/*#endregion*/

/*#region Diğer*/
#yazilar {
    sssloat: left;
    ssswidth: 85%; /*desgine rahat olsun, jquery ile onloadda ok*/
    background-color: #F8F8F8;
    margin: 0px;
    smargin-left: 1%; /*desgine rahat olsun, jquery ile onloadda ok*/
    sssposition: relative;
    color: black;
    padding-left:1%;
}
#yazilar img {
	display: block;
    margin: 5px auto;
    max-width: 100%;
    max-height: 100%;
}
p.ortala {
     text-align: center;
     color:red;
     margin-top:-40px;
}

div#prevnext{
    visibility:hidden;  /*default olarak hidden olsun, açılıdğında aşağı özellikler aktif olsun*/
    display:none;
    /*clear:left;*/
    height:auto;
    max-height:50px;
    /*line-height:50px;*/
    /*position:relative;*/
    text-align:center;
    margin-top:10px;     
}
    div#prevnext input {
        font-size: large;
        height: auto;
        mmmax-height: 20px;
        border: solid 1px #990033;
        border-radius: .25rem;
        padding: 3px 8px;
        background-color: #990033;
        text-decoration: none;
        color: white;
    }
    div#prevnext #btnNext {     
        margin-left: 25%;
    }
    div#prevnext #btnPrev{
        margin-right: 25%;
    }
    div#prevnext input:hover    {
        background-color:#580000;        
        border-color:#580000;
    }

.textiletisim {
    height: 250px;
    width: 400px;
    vertical-align: text-top;
    /*overflow:auto;*/
    resize: none; /*bu kısım textbox resible olamsı ndiye*/
}     

div#gizliforkonu{
    /*konu idlerini gizli olduğ div*/
    display:none;
}

button.toolbar{
    background-color:white;
    border-color:orange;  
}

#htmltagekle{
    background-color:wheat;
    border:solid thick black;
    padding:5px;
}

.zoomla {
    /*width: 310px;*/
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin:5px auto;
    max-width:100%;
    max-height:100%;

}
 
.transition {
    -webkit-transform: scale(1.7); 
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7);
}

.lblFileFolder{
    display:none;
    visibility:hidden;
}

li {
margin: 0 0 10px 0;
}

li li {
list-style:disc;
margin:0;
}

.txtHidden{
    display:none;
}

.konu ul
{
list-style-type: circle;
list-style-position: outside;
}

abbr {
border-bottom: 1px dotted black;
cursor:help;
}

/*ilk açılışıta altkonular collapsed gelsin istiyorsak aşağıdaki kod olsun, uncollapsed gelsin istiyorsan hidela
h2.baslik+div.konu{
display:none;
}*/

#share-buttons
{	
text-align:center;	
}

#share-buttons img 
{
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

#gsearch{    
	width:100%;
    margin: 0 auto;/*bu ana kutuyu ortalamak iÃ§in*/
    border:thick maroon solid;
}

div#diskas {
	visibility:hidden;
	display:none;
}

div#cerez {
    display: none;
    position: fixed;
    bottom: 0px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    color: black;
    padding: 20px;
    width: 80%;
    left: 10%;
    font-size: medium;
    font-weight: bold;
    border-radius: .25rem;
    background: #CCCCCC;
}

div.mailTopla {
	text-align:center;
	border:maroon thin solid;
	background:#FFCCFF;
	font-size:large;
    width:60%;
    border-radius:5px;
    margin-left:20%;
    padding:7px 2px 7px 2px;
/*    float:left;*/
}

#lblLastMod {
	font-style:italic;
	font-size:small;
	color:olive;
	/*border:thin olive dashed;*/
}

#NumberOfWordsAndLines{
    width: auto;
	line-height: 20px;
	color: navy;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

#NumberOfWordsAndLines p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}
h2#disqusyorum {
    color: orange;
}
#testsoru {
    visibility:hidden;
    display:none;
}

#odevler {
    visibility: hidden;
    display: none;
}

#yenitestekle {
    display: none;
}

.gizlefortestodev {
    display:none;    
}

#testsoru h2 {
    color: coral;
}

/*bu ikisi, uzun test soruları radiobutonun altına inmesin diye*/
table#RadioButtonList1 input {
    float: left;
}

table#RadioButtonList1 label {
    margin-left: 20px;
    display: block;
}

#odevler h2 {
    color: coral;
}
#lblTestMesaj {
    display:none;
}

/*#endregion Diğer*/
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

#udemydestek {
    /*display kısmını jquery içine aldım, bunu ara ara açmak gerekebilir. jquery içine alma sebebim yankutuluarmobildegizle dan dolayı*/
    top: 250px;
    right: 30%;
    position: fixed; /* Fixed/sticky position */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    border-radius: .25rem; /* Rounded corners */
    font-size: small;
    /*    visibility:hidden;*/
    width: 30%;
    height: auto;
    background-color: #FFCC66;
    color: maroon;
    vertical-align: middle;
    padding: 1%;
}

#amazonus {    
    top: 20%;
    left: 1%;
    position: fixed; /* Fixed/sticky position */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    border-radius: .25rem; /* Rounded corners */
    font-size: small;
    /*    visibility:hidden;*/
    width: 14%;
    height: auto;
    color: maroon;
    vertical-align: middle;
}

#responserequesterrorlog {
    top: 100px;
    right: 5px;
    width: 240px;
    font-family: "Comic Sans MS";
    position: fixed; 
    z-index: 99;
    background-color:white;
    color:black;
}